:root{
--color1:#416AE0 ;
--color2: #325de1;
--color3: #0d539d;
--color4: #e7e9ec;
--color5: #000000;

}


*{
    box-sizing: border-box;

}

body{
    margin: 0;
    font-family: 'roboto', sans-serif;
    }

h1{ font-size: 3.5em;}
h2{ font-size: 2.5em;}
h3{ font-size: 2em;}
P{ font-size: 1.25em;}


.container{
    max-width: 1400px;
    margin: auto;
}


.barra_menu{
   background: linear-gradient(to left  ,var(--color2), var(--color1));
    
}

.opciones{
color: white;
}

.imagen_logo{
width: 170px;
}






#inicio{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),url(../img/imagen1.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#inicio h1 p{
   color: white;
}

#presentacion .container{
    text-align: center;
    padding: 200px 12px;
    
}

#servicios{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
    padding: 150px 12px;


}


#servicios h2{
    margin-top: 0;
}

#servicios p{
    display: none;
    
}

#servicios .carta{
    background-position: center center ;
   background-size: cover;
   padding: 50px 0px;
   margin: 20px;
   border-radius: 15px;

}

.carta:first-child{
    background-image: linear-gradient( 
    0deg, 
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5) ),url( ../img/servicios.jpg)

}

.carta:nth-child(2){
    background-image: linear-gradient( 
    0deg, 
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5) ),url(../img/servicios.jpg)

}

.carta:nth-child(3){

    background-image: linear-gradient( 
    0deg, 
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5) ),url(../img/servicios.jpg)

}

#contacto{
    background-color: var(--color3);
    color: white;
    text-align: left;
    padding: 100px 12px;
}

i{
color: var(--color5);

}

a{
    color: var(--color4);
}




@media (min-width: 720px) {
   


    #servicios .programas{
        display: flex;
        justify-content: center;
        
    }

    #servicios p{
        display: block;
        margin-bottom:30px;
        
    }

    #servicios h2{
    margin-top: 0;
        }


    #servicios .carta{
        padding: 60px;
        background-size: 100% 100px;
        background-repeat: no-repeat;
        background-position-y:0 ;

        
        background-color: rgb(80, 80, 80);
    }


    .des{
    background-color: #0d539d;
    }
    
    #contacto {
        padding: 100px 50px;
    }

    .carta {
        padding: 50px 20px;
    }
}
